<div class="footer">
  <img alt="#" src="https://media.contentapi.ea.com/content/dam/eacom/ru-ru/common/october-ea-ring.png" style="height: 50px">
  <p>Legal</p>
  <p>Security</p>
  <p>User Agreement</p>
  <p>YouTube Terms of Service</p>
  <div class="str">© 2021 Electronic Arts Inc.</div>
</div>
