.footer {
  background-color: #000;
  color: lightgreen;
  font-size: 16px;
  padding: 5px 0;
  display: flex;
}

.str {
  margin-left: 15%;
  text-transform: none;
  margin-top: 25px;
  font-size: 12px;
  color: mediumvioletred;
}

.footer p {
  margin-top: 20px;
  text-transform: uppercase;
  margin-left: 2%;
  cursor: pointer;
}

.footer img {
  margin-top: 5px;
  margin-left: 33%;
}
