.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 15px 0;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/784/828/926/blue-stripes-4k-8k-wallpaper-preview.jpg");
  text-align: center;
  box-shadow:
    0 0 0 1px silver,
    0 -20px 0 -10px coral,
    20px 0 0 -10px darkturquoise,
    0 20px 0 -10px gold,
    -20px 0 0 -10px chartreuse;
  margin-bottom: 10px;
}

.logo {
  display: inline-block;
  margin-bottom: 20px;
}

.main-nav a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 10px;
  border: none;
  border-radius: 3px;
  padding: .3em 1em;
  background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
  box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
}
