<header class="header">
  <div class="container">
    <a routerLink="/" href="#" class="logo">
      <img style="height: 80px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Electronic_Arts_logo.svg/1200px-Electronic_Arts_logo.svg.png" alt="#">
    </a>
    <nav class="main-nav">
      <a routerLink="/">Home</a>
      <a routerLink="/games">Games</a>
      <a routerLink="/games/new">Create new game</a>
    </nav>
  </div>
</header>
