<div class="card" style="max-width: 250px">
  <img [src]="game.image" class="card-img-top" alt="{{ game.name }}" style="max-height: 350px">
  <div class="card-body">
    <h5 class="card-title">{{ game.name }}</h5>
    <p class="card-text">{{ game.description }}</p>
    <p class="card-text"><small class="text-muted">{{ game.platform }}</small></p>
  </div>
</div>
