.main-block {
  padding: 14% 0;
  background-image: url("https://wallpapercave.com/wp/wc1765288.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.main-title {
  letter-spacing: 10px;
  color: black;
  font-size: 80px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: deepskyblue;
  font-family: serif;
  text-shadow: 0 2px white, 0 3px #777;
}
